@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
/* Config */
:root {
  --Marg: 0 5rem;
  --Bg-01: #111;
  --Bg-02: #222;
  --Bg-03: rgba(0, 0, 0, 0.55);
  --Col: #ddd;
  --title-1: 1.2rem;
  --title-2: 1.8rem;
  --txt-1: 1rem;
  --Icons: 1.8rem;
  --Kustom: #0000ff;
  --Kustom-Shadow: 0 12px 24px 0 #0000ff4d;
  --Ani-1: 0.3s all ease-in-out;
  --Ani-2: 0.2s all ease-in-out;
}
html,
body {
  height: 100vh;
  background: var(--Bg-01);
}
.main {
  height: 100vh;
  padding: 0 30rem;
}
.main-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--Bg-02);
  /* border: 1px solid rgb(255, 200, 0); */
}
.photo-box {
  height: min-content;
  width: 100%;
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.proImageBanner {
  width: 100%;
  border-radius: 0.75rem;
  border: 2px solid var(--Kustom);
}
.proImagePicture {
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 8.35rem;
  z-index: 2;
  border-radius: 50%;
  border: 2px solid var(--Kustom);
  transition: spin360 0.6s ease-in-out;
  transform: rotateY(0deg);

  &:hover {
    animation: spin360 1s linear infinite;
  }
}
@keyframes spin360 {
  to {
    transform: rotateY(360deg);
  }
}
/* Social */
.wrap-social {
  color: var(--Col);
  display: flex;
  gap: 25rem;
  position: absolute;
  top: 11rem;

  & div {
    padding: 0.25rem;
    display: flex;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: var(--Bg-03);
  }
}
.wrap-social a {
  font-size: 1.3rem;
  color: var(--Col);
  display: flex;
  &:hover {
    color: var(--Kustom);
  }
}
.description {
  margin-top: 2.5rem;
  padding: 1rem 0;
  color: var(--Col);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.username-wrapper {
  width: min-content;
  position: relative;
  display: inline-block;
}
.user {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.user-popup {
  width: 20rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border: 1px solid var(--Kustom);
  border-radius: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 99;
  background: var(--Bg-02);
}
.user-popup div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-popup img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-popup p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
.username-wrapper:hover .user-popup {
  opacity: 1;
  pointer-events: auto;
}
.user-popup button {
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  color: var(--Col);
  cursor: pointer;
  z-index: 9;
  border-radius: 0.25rem;
  background: transparent;
  border: 1px solid var(--Kustom);
  &:hover {
    background: var(--Kustom);
  }
}
.txt {
  margin: 0.7rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.2px;
}
/* List */
.w-ul {
  margin: 0.75rem 0;
  padding: 0 4rem;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}
.w-li {
  display: flex;
}
.w-a {
  width: 20rem;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--Col);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Kustom);
  transition: var(--Ani);
  &:hover {
    scale: 1.07;
    background: var(--Kustom);
    border: 1px solid var(--Kustom);
    box-shadow: 0 0 10px 1px var(--Kustom);
  }
}
.w-icon {
  font-size: 1.3rem;
}
/* Social */
.social {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.social,
.S-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.7rem;
}
.social-link {
  padding: 0.5rem;
  font-size: 1.7rem;
  color: var(--Col);
  display: flex;
  border: 1.5px solid var(--Kustom);
  border-radius: 0.9rem;
  transition: var(--Ani);
  &:hover {
    scale: 1.07;
    color: var(--Col);
    background: var(--Kustom);
    border: 1.5px solid var(--Kustom);
    box-shadow: 0 0 10px 1px var(--Kustom);
  }
}
.w-a,
.social-link {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgb(25, 0, 255, 0.1);
}
.foot-txt {
  margin: 2rem;
  font-weight: 300;
  color: var(--Col);
}
@media only screen and (max-device-width: 375px) {
  .w-a {
    width: 15rem;
  }
}
